# env var
.env
.env.*

#python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

#venv
venv/
env/
.venv/

#vscode
.vscode/

#automation 
screenshots/
test-results/
playwright-report/
trace.zip
trace/
*.png

#logs
*.log
logs/

#od files 
.DS_Store
Thumbs.db

#rag
vectorstore/
chroma/
faiss_index/
*.index
*.bin

#parse doc
parsed_docs/
chunks/
*.pdf.tmp

#misc
.cache/
tmp/
temp/